/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBALS CSS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 32px;
  font-weight: bold;
}

.app-container {
  height: 100vh;
}
.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #00ccbc;
  font-family: "Stratos Deliveroo Web", sans-serif;
}
